{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card mx-auto" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">Create A Job </h5>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_title" class="form-label">Job Title</label>
                        {% render_field form.title class="form-control" id="id_title" %}
                    </div>
                    <div class="mb-3">
                        <label for="id_salary" class="form-label">Salary</label>
                        {% render_field form.salary class="form-control" id="id_salary" %}
                    </div> 
                    <div class="mb-3">
                        <label for="id_location" class="form-label">City</label>
                        {% render_field form.city class="form-control" id="id_city" %}
                    </div>
                    <div class="mb-3">
                        <label for="id_location" class="form-label">State</label>
                        {% render_field form.state class="form-control" id="id_state" %}
                    </div>
                    <div class="mb-3">
                        <label for="id_location" class="form-label">Industry</label>
                        {% render_field form.industry class="form-control" id="id_industry" %}
                    </div>
                    <div class="mb-3">
                        <label for="id_location" class="form-label">City</label>
                        {% render_field form.city class="form-control" id="id_city" %}
                    </div>
                    <div class="mb-3">
                        <label for="id_location" class="form-label">Job Type</label>
                        {% render_field form.job_type class="form-control" id="id_job_type" %}
                    </div>
                    <div class="mb-3">
                        <label for="id_requirements" class="form-label">Job Requirements</label>
                        {% render_field form.requirements class="form-control" id="id_requirements" rows="3" %}
                    </div>
                    

                    <div class="mb-3">
                        <label for="id_ideal_candidate" class="form-label">Ideal Candidate</label>
                        {% render_field form.ideal_candidate class="form-control" id="id_ideal_candidate" rows="3" %}
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="id_is_available" {% if form.is_available.value %}checked{% endif %}>
                        <label class="form-check-label" for="id_is_available">Is this Job Available</label>
                    </div>
                  
                   
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
