<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!--Bootsstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <title>WorkWave - Login</title>
</head>
<body>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5"> 
    <div class="row align-items-center g-glg-8 py-5">
    {% comment %} <div class="row gx-5"> {% endcomment %}
      
      <p class="col-lg-6 fs-2">
        Whether you’re looking for tips on managing medications, advice on maintaining a balanced diet, or personal stories to inspire you, you’ll find it all here. We hope our resources help you and your loved ones achieve a smooth and successful recovery.







      </p>
      <div class="col">
        <img src="https://plus.unsplash.com/premium_photo-1681967103563-871828436e1d?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-60">
          <div class="card-body">
            <h5 class="card-title">Healthcare Resources</h5>
            <p class="card-text">Healthcare Basics,Patient Rights</p>
            <a href="#" class="btn btn-primary">View Details</a>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-60">
          <div class="card-body">
            <h5 class="card-title">Health Living Tips</h5>
            <p class="card-text">Nutrition,Exercise,Mental Health</p>
            <a href="#" class="btn btn-primary">View Details</a>
         </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-60">
          <div class="card-body">
            <h5 class="card-title">Post-Discharge Care</h5>
            <p class="card-text">Transitionong Home,Follow-Up Care</p>
            <a href="#" class="btn btn-primary">View Details</a>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div> <br> <br>
    <h4 class="display-8 lh-1 mb-3">Personal Stories and Testimonials</h4>

    <div class="row">
      <div class="col-sm-10 mb-3 mb-sm-0">
        <div class="card text-bg-dark mb-3">
          <div class="card-body">
            <h5 class="card-title">"John's Journey: Thriving After Heart Surgery"</h5>
            <p class="card-text">After undergoing heart surgery, John faced a daunting recovery. He shared how sticking to a structured
               medication schedule and attending regular follow-up appointments with his cardiologist played a crucial role in his recovery.
                John also embraced a heart-healthy diet and incorporated gentle exercises into his daily routine. </p>  
          </div>
        </div>
      </div><br>

      <div class="row">
        <div class="col-sm-10 mb-3 mb-sm-0">
          <div class="card text-bg-dark mb-3">
            <div class="card-body">
              <h5 class="card-title">"Caring for Mom: Jane's Experience as a Caregiver"</h5>
              <p class="card-text">Jane's mother, Mary, was discharged after a lengthy hospital stay due to a severe infection. 
                Jane took on the role of primary caregiver, ensuring her mother followed her treatment plan. Jane organized her mother's 
                medications using a pill organizer and set reminders for follow-up appointments. She also created a comfortable and safe 
                environment at home to support her mother's recovery. Through patience and dedication, Jane helped her mother regain her 
                strength and independence. </p>  
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-sm-10 mb-3 mb-sm-0">
            <div class="card text-bg-dark mb-3">
              <div class="card-body">
                <h5 class="card-title">"Emma's Road to Recovery: Overcoming a Stroke"</h5>
                <p class="card-text">Determined to regain her independence, she worked closely with her physical therapist, 
                  performing daily exercises to improve her strength and coordination. Emma also attended speech therapy sessions to address
                   her communication challenges. With consistent effort and support from her healthcare team, Emma made significant progres
                   s and now leads an active lifestyle.

                </p>  
              </div>
            </div>
          </div><br>

          <div class="row">
            <div class="col-sm-10 mb-3 mb-sm-0">
              <div class="card text-bg-dark mb-3">
                <div class="card-body">
                  <h5 class="card-title">"Carlos' Battle with Diabetes: Managing Life Post-Discharge"</h5>
                  <p class="card-text">After discharge, he committed to managing his condition by monitoring his blood sugar levels regularly and following a strict 
                    diet plan. Carlos attended diabetes education classes to learn more about his condition and how to manage it effectively. Through 
                    lifestyle changes and medication adherence, Carlos successfully stabilized his blood sugar levels and improved his overall health.
              </div>
            </div><br>

    <div class="row">
        <div class="col-sm-10 mb-3 mb-sm-0">
          <div class="card text-bg-dark mb-3">
            <div class="card-body">
              <h5 class="card-title">"David's Dedication: Caring for a Spouse with Alzheimer's"</h5>
              <p class="card-text">David's wife, Linda, was diagnosed with Alzheimer's disease. After her hospital discharge,
                 David took on the full-time role of caregiver. He educated himself about Alzheimer's and joined a caregiver support
                  group for advice and emotional support. David also established a daily routine for Linda to provide structure and reduce 
                  anxiety.  </p>  
            </div>
          </div>
        </div><br>
        
  </div>   
  
 

                

<script src ="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"></script>"
</body>
</html>


