{% extends 'base.html' %}

{% block content %}

<section>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold">WorkWave Jobs. Get Hired Quickly!</h2> <br>

        <div class="card">
          <div class="card-body">
            <form class="row gy-2 gx-3 d-flex justify-content-between">
              <div class="col-sm-2">
                <label class="visually-hidden" for="autoSizingInput">Name</label>
                <input type="text" class="form-control" id="autoSizingInput" placeholder="Job Keyword">
              </div>
              <div class="col-sm-3">
                <label class="visually-hidden" for="autoSizingSelect">Select Location</label>
                <select class="form-control">
                  <option selected>Select Location</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
              </div>

              <div class="col-sm-3">
                <label class="visually-hidden" for="autoSizingSelect">Choose Job Type</label>
                <select class="form-control">
                  <option selected>Choose Job Type</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
              </div>

              <div class="col-sm-2">
                <label class="visually-hidden" for="autoSizingSelect">Select Industry</label>
                <select class="form-control">
                  <option selected>Select Industry</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
              </div>

              
              <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">search</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
      <p class ="col-sm-12 fs-4 mt-1">
        welcom to the ithos poosssLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. ut aliquip ex eav commodo consequat.
        
      </p>
      <button class="btn btn-outline-primary" type="button">More Jobs</button>
    </div>
  </section>



  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/926390/pexels-photo-926390.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Technical Support Executive</h5>
          <p class="card-text">Industry: Mining</p>
          <p class="card-text">Job Type: Onsite</p>
          <p class="card-text">Location: Koforidua,Betom</p>
          <p class="card-text">Salary: 5000</p>
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/3781903/pexels-photo-3781903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Customer Support Assistant</h5>
          <p class="card-text">Industry: Mining</p>
          <p class="card-text">Job Type: Remote</p>
          <p class="card-text">Location: Kumasi,Bata</p>
          <p class="card-text">Salary: 500</p>
          <a href="#" class="btn btn-primary">View Details</a>
       </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src=https://images.pexels.com/photos/763934/pexels-photo-763934.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hostel Manager</h5>
          <p class="card-text">Industry: Human Resource</p>
          <p class="card-text">Job Type: Remote</p>
          <p class="card-text">Location: Efiduase</p>
          <p class="card-text">Salary: 300</p>
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/279949/pexels-photo-279949.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Software Engineer</h5>
          <p class="card-text">Industry: Tech</p>
          <p class="card-text">Job Type: Remote</p>
          <p class="card-text">Location: Accra,Bata</p>
          <p class="card-text">Role : Intenship</p>
          <p class="card-text">Experience : Entry Level</p>
          <p class="card-text">Salary: 7000</p>
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src=https://images.pexels.com/photos/3194523/pexels-photo-3194523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Data Analyst</h5>
          <p class="card-text">Industry: Tech</p>
          <p class="card-text">Job Type: Remote</p>
          <p class="card-text">Location: Accra,Bata</p>
          <p class="card-text">Salary: 7000</p>
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/356040/pexels-photo-356040.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Software Manager</h5>
          <p class="card-text">Industry: Tech</p>
          <p class="card-text">Job Type: Remote</p>
          <p class="card-text">Location: Accra,Bata</p>
          <p class="card-text">Salary: 7000</p>
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
<div class="row align-items-center">
    <div class="col-md-10 mx-auto col-lg-2 mt-4">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a c;ass="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a></li>

            </ul>

        </nav>
    </div>
</div>


{% endblock content %}