<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/ionicons@5.5.2/dist/ionicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/ionicons@5.5.2/dist/css/ionicons.min.css">


  <!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <!-- =============== Navigation ================ -->
     {% if request.user.is_applicant %}
{% if not request.user.has_resume %}
<div class="alert alert-{{ message.tags }}" role="alert">
    <b>You are seeing this message because you have not created a resume. Please go ahead and create one from <a href="{% url 'update-resume' %}">here</a></b>
</div>
{% endif %}
<section>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="{% url 'landing' %}">
                        <span class="title">CareWave</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'dashboard' %}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title"> Applicant Dashboard</span>
                    </a>
                </li>

                <li>
                    <a  href="{% url 'website_home' %}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Care Service</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'job-listing' %}">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Apply To Services</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'applied-jobs' %}">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Manage  Application</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'update-resume' %}">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Update Resume</span>
                    </a>
                </li>


                <li>
                    <a href="{% url 'logout' %}">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <!-- <ion-icon name="search-outline"></ion-icon> -->
                    </label>
                </div>

                <div class="user">
                    <img src="{% static 'images/customer01.jpg' %}" alt=""> 
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">5</div>
                        <div class="cardName">Posted Jobs</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="briefcase-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">Applications</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="document-outline"></ion-icon>

                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">284</div>
                        <div class="cardName">Messages</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">2</div>
                        <div class="cardName">Bookmark</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ THe Line Chart ================= -->
            <div class="recentOrders">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Jobs Applied Over Time</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <canvas id="jobsAppliedChart"></canvas>
                </div>
                
            

                <!-- ================= Notifications ================ -->
                <div class="recentNotifications">
                    <div class="cardHeader">
                        <h2>Notifications</h2>
                    </div>
                
                    <table>
                        <tbody>
                            <tr>
                                <td width="60px">
                                    <div class="iconBx"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
                                </td>
                                <td>
                                    <h4>Job Application Approved <br> <span>Congratulations! Your application for the Software Engineer position has been approved.</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="iconBx"><ion-icon name="time-outline"></ion-icon></div>
                                </td>
                                <td>
                                    <h4>Job Application Pending <br> <span>Your application for the Graphic Designer position is still under review.</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="iconBx"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
                                </td>
                                <td>
                                    <h4>Job Application Approved <br> <span>Your application for the Frontend Developer position has been approved.</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="iconBx"><ion-icon name="time-outline"></ion-icon></div>
                                </td>
                                <td>
                                    <h4>Job Application Pending <br> <span>Your application for the Data Analyst position is still under review.</span></h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
    </div>
</section>
{% elif request.user.is_recruiter %}
{% if not request.user.has_company %}
<div class="alert alert-{{message.tags}}" role="alert">
    <b>You are seeing this message because there is currently no company. Please go ahead and create one from <a href="{% url 'update-company' %}">here</a></b>
</div>

   {% endif %}
<section>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="title">CareWave</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'dashboard' %}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title"> Recruiter Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'create-job' %}">
                        <span class="icon">
                            <ion-icon name="add-circle-outline"></ion-icon>

                        </span>
                        <span class="title">Post New Service</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'manage-jobs' %}">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Manage Service</span>
                    </a>
                </li>

           

                <li>
                    <a href="{% url 'update_job'}">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Update Service</span>
                    </a>
                </li>
                


                <li>
                    <a href="{% url 'logout' %}">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <!-- <ion-icon name="search-outline"></ion-icon> -->
                    </label>
                </div>

                <div class="user">
                    <img src="{% static 'images/customer01.jpg' %}" alt=""> 
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">5</div>
                        <div class="cardName">Posted Jobs</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="briefcase-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">Applications</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="document-outline"></ion-icon>

                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">284</div>
                        <div class="cardName">Messages</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">2</div>
                        <div class="cardName">Bookmark</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ THe Line Chart ================= -->
            <div class="recentOrders">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Jobs Applied Over Time</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <canvas id="jobsAppliedChart"></canvas>
                </div>
                
            

                <!-- ================= Notifications ================ -->
                <div class="recentNotifications">
                    <div class="cardHeader">
                        <h2>Notifications</h2>
                    </div>
                
                    <table>
                        <tbody>
                            <tr>
                                <td width="60px">
                                    <div class="iconBx"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
                                </td>
                                <td>
                                    <h4>Job Application Approved <br> <span>Congratulations! Your application for the Software Engineer position has been approved.</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="iconBx"><ion-icon name="time-outline"></ion-icon></div>
                                </td>
                                <td>
                                    <h4>Job Application Pending <br> <span>Your application for the Graphic Designer position is still under review.</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="iconBx"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
                                </td>
                                <td>
                                    <h4>Job Application Approved <br> <span>Your application for the Frontend Developer position has been approved.</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="iconBx"><ion-icon name="time-outline"></ion-icon></div>
                                </td>
                                <td>
                                    <h4>Job Application Pending <br> <span>Your application for the Data Analyst position is still under review.</span></h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
</section>
{% endif %}
   

    <!-- =========== Scripts =========  -->
    <!-- <script src="assets/js/main.js"></script> -->
    <script>
        const ctx = document.getElementById('jobsAppliedChart').getContext('2d');
        const jobsAppliedChart = new Chart(ctx, {
            type: 'line', // Specify the type of chart
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'], // X-axis labels
                datasets: [{
                    label: 'Jobs Applied', // Label for the dataset
                    data: [12, 19, 3, 5, 2, 3, 7], // Data points for each month
                    backgroundColor: 'rgba(0, 123, 255, 0.2)', // Fill color under the line
                    borderColor: 'rgba(0, 123, 255, 1)', // Line color
                    borderWidth: 2, // Thickness of the line
                    fill: true, // Fill under the line
                    tension: 0.1 // Smoothness of the line
                }]
            },
            options: {
                responsive: true, // Make the chart responsive
                scales: {
                    y: {
                        beginAtZero: true // Start Y-axis at 0
                    }
                }
            }
        });
    </script>
    
    

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>